<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Document</title>
	</head>
	<body>
		<section class = "center">
		

			
				<h1>About</h1>
				<p> This is JWT Token Authentication App using Thymeleaf GUI </p>
				<div class="alert" role="alert">
					<span>Сообщение</span>
					<span th:text="${response.message}"></span>
				</div>
				<div class="alert" role="alert">
					<span>access_jwt_token</span>
					<span th:text="${response.access_jwt_token}"></span>
				</div>
				<div class="alert" role="alert">
					<span>refresh_jwt_token</span>
					<span th:text="${response.expiresAt}"></span>
				</div>
				<a href="/app/admin" id="admin" th:data-access-token="${response.access_jwt_token}">Admin page</a>
				<a href="/app/user" id="user" th:data-access-token="${response.access_jwt_token}">User page</a>
				<a href="/app/test" id="test" th:data-access-token="${response.access_jwt_token}">test page</a>
				<div sec:authorize="hasRole('USER')">Этот текст виден только пользователю с ролью USER.</div>
    			<div sec:authorize="hasRole('ADMIN')">Этот текст виден только пользователю с ролью ADMIN.</div>
				<span id="response"></span>
		<br>	
		</section>
	</body>
	<script th:inline="javascript">
        document.querySelectorAll('a').forEach(a => {
			a.addEventListener('click', async (e) => {
				e.preventDefault();
				const link = e.target.href;
				const token = e.target.getAttribute('data-access-token');
				let response = await fetch(link, {
						method: 'GET',
						headers: {
							//'Content-Type': 'application/json;charset=utf-8',
							'Authorization': `Bearer ${token}`
						},
						//body: JSON.stringify({ username: l.value, password: p.value })
					}
				);
				const res = document.getElementById("response");
				res.innerText = response.ok;
				if(response.ok)window.location = link;
        	})
		})
    </script>
</html>